<section class="panel panel-default">
    <div class="panel-heading">
        <strong>
            <h1 style="color: #30a79a">
                <span class="fa-stack">
                    <i class="fa fa-comment fa-flip-horizontal fa-stack-2x"></i>
                    <i class="fa fa-thumbs-o-up fa-inverse fa-stack-1x"></i>
                </span> <span ng-bind-html="singleData.title"></span>
            </h1>
        </strong>
    </div>

    <div class="panel-body">
        <p class="well col-xs-12" ng-bind-html="singleData.description"></p>
        <div class="col-xs-12" style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start">
            <div ng-repeat="media in singleData.media"
                 style="flex: 1 0 100px; max-height:100px; width:100px; overflow: hidden; padding:2px">
                <a href>
                    <img
                            animate-change="imgSrc" change-class="flash"
                            alt="{{api.show.media.$getRecord(singleData.media[$index]).mediaDescription}}"
                            ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaURL }}"
                            width="100%"
                            ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL; $parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription; ">
                </a>
            </div>
        </div>
        <hr class="col-xs-12">
        <div class="">
            <img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription"
                 ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">
        </div>

        <!--<div class="no-padding">
            <div ng-repeat="media in singleData.media">
                <a href><img alt="{{ api.show.media.$getRecord(singleData.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription" width="100%"></a><hr/>
            </div>
        </div>-->
        <!-- <div class="col-xs-12 no-padding visible-xs">
             <img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription" ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">{{api.show.media.$getRecord(services.media[0]).mediaURL}}
             <hr>
         </div>
         <div class="col-xs-12 visible-xs no-padding">
             <div class="col-xs-4 no-padding border-right" ng-repeat="media in singleData.media">
                 <a href><img alt="{{ api.show.media.$getRecord(singleData.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription" width="100%"></a><hr/>
             </div>
         </div>-->
    </div>

    <hr/>

    <h4 class=" col-xs-12" ng-show="singleData.testimonials[0]!=='No Testimonials'">Testimonials</h4>
    <div class=" col-xs-12" ng-repeat="testimonial in singleData.testimonials"
         ng-show="singleData.testimonials[0]!=='No Testimonials'">
        <div>Testimonial: {{testimonial.name}}</div>
        <div>Info: {{testimonial.description}}</div>
        <hr class=" col-xs-12">
    </div>


</section>
