
<section class="panel panel-default clearfix">
    <div class="panel-heading">
        <strong>
            <h1 class="col-xs-6" style="color:#f51c2d"><i class="fa fa-image fa-border"></i> <span ng-bind-html="singleData.title"></span>
            </h1>
            <div class="col-xs-12 well">
                <span ng-bind-html="singleData.description"></span>
            </div>
        </strong>
    </div>
    <div class="col-xs-12 " ng-init="imgSrc = api.show.media.$getRecord(singleData.media[0]).mediaURL;imgAlt = api.show.media.$getRecord(singleData.media[0]).mediaDescription">

        <div class="panel panel-default" ng-click="enlarge = false;" ng-show="enlarge===true" style="position:absolute; background: rgba(0,0,0,.38); z-index:800; width:100%; height:auto" class="sample-show-hide">
            <div class="col-xs-12 panel-heading"><p class="text-center"><b>Touch or click to close.</b></p></div>
            <img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription" ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">
            {{api.show.media.$getRecord(gallery.media[0]).mediaURL}}
        </div>


        <div class="panel-body col-xs-12 col-sm-12" >

            <div class="col-xs-10 hidden-xs">
                <a animate-change="imgSrc" change-class="flash" ng-click="enlarge = true;" href><img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription" ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">{{api.show.media.$getRecord(gallery.media[0]).mediaURL}}</a>
            </div>
            <div class="col-xs-2 hidden-xs no-padding" style="max-height:700px; overflow: scroll">
                <p ng-if="singleData.media.length > 4">Scroll for more images</p>

                <div ng-repeat="media in singleData.media track by $index">
                    <a href><img alt="{{ api.show.media.$getRecord(singleData.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaThumbs['160'] || api.show.media.$getRecord(singleData.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription" width="100%"></a>
                    <hr/>
                </div>

            </div>
            <div class="col-xs-12 no-padding visible-xs">
                <img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription" ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">{{api.show.media.$getRecord(gallery.media[0]).mediaURL}}
                <hr>
            </div>
            <div class="col-xs-12 visible-xs no-padding">
                <div class="col-xs-4 no-padding border-right" ng-repeat="media in singleData.media track by $index">
                    <a href><img alt="{{ api.show.media.$getRecord(singleData.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaThumbs['100'] || api.show.media.$getRecord(singleData.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription" width="100%"></a><hr/>
                </div>
            </div>
            <hr/>
            <div class="" ng-show="singleData.articles[1] && singleData.articles[0]!=='No Articles'">
                <div class="col-xs-12 col-sm-6" ng-show="singleData.articles[0]!=='No Articles'">
                    <h4 class="col-xs-12" ng-show="singleData.articles[1]"><i class="fa fa-newspaper-o"></i> Related Articles</h4>
                    <div class="col-xs-12" ng-repeat="article in singleData.articles" ng-show="singleData.articles[0]!=='No Articles'">
                        <a ng-href="#!/articles/{{ api.show.articles.$getRecord(article).articleURL }}" ng-show="article.length > 0">
                            <img
                                    class="col-xs-12" alt="api.show.media.$getRecord(api.show.articles.$getRecord(article).media[0]).mediaDescription"
                                    ng-src="{{ api.show.media.$getRecord(api.show.articles.$getRecord(article).media[0]).mediaThumbs['100']}}">
                            <b><em class="col-xs-12" >{{ api.show.articles.$getRecord(article).title }}</em></b></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
