
    <section class="panel panel-default clearfix">
        <div class="panel-heading">
            <strong>
                <h1 style="color:#f51c2d"><i class="fa fa-star fa-border"></i> <span ng-bind-html="singleData.title"></span>
                </h1>
            </strong>
        </div>

        <div class="panel-body col-xs-12 col-sm-7" ng-init="imgSrc = api.show.media.$getRecord(singleData.media[0]).mediaURL;imgAlt = api.show.media.$getRecord(singleData.media[0]).mediaDescription">
            <div class="col-xs-10">
                <img alt="imgAlt || api.show.media.$getRecord(singleData.media[0]).mediaDescription" ng-src="{{imgSrc || api.show.media.$getRecord(singleData.media[0]).mediaURL}}" width="100%">{{api.show.media.$getRecord(services.media[0]).mediaURL}}
            </div>
            <div class="col-xs-2">
                <div ng-repeat="media in singleData.media">
                    <a href><img alt="{{ api.show.media.$getRecord(singleData.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(singleData.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(singleData.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(singleData.media[$index]).mediaDescription" width="100%"></a><hr/>
                </div>
            </div>
            <hr/>
            <div class="well col-xs-12">
                <div class="col-xs-12 col-sm-6" ng-show="singleData.variations[0]!=='No Variations'">
                    <h4 class=" col-xs-12" ><i class="fa fa-asterisk"></i> Variations</h4>
                    <div class=" col-xs-12" ng-repeat="variation in singleData.variations" ng-show="singleData.variations[0]!=='No Variations'">
                        <h5>{{variation.name}}</h5>
                        <p>{{variation.description}}</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" ng-show="singleData.articles[0]!=='No Articles'">
                    <h4 class="col-xs-12" ng-show="singleData.articles[1]"><i class="fa fa-newspaper-o"></i> Related Articles</h4>
                    <div class="col-xs-12" ng-repeat="article in singleData.articles" ng-show="singleData.articles[0]!=='No Articles'">
                        <a ng-href="#!/articles/{{ api.show.articles.$getRecord(article).articleURL }}" ng-show="article.length > 0">
                            <img class="col-xs-12" alt="api.show.media.$getRecord(api.show.articles.$getRecord(article).media[0]).mediaDescription" ng-src="{{ api.show.media.$getRecord(api.show.articles.$getRecord(article).media[0]).mediaURL}}">
                            <b><em class="col-xs-12" >{{ api.show.articles.$getRecord(article).title }}</em></b></a>
                    </div>
                </div>

            </div>

        </div>

        <div class="panel-body col-xs-12 col-sm-5">
            <p class=" pad well col-xs-12"><i class="fa fa-tag fa-flip-horizontal"></i> Starting from ${{ singleData.startingPrice }}</p>
            <p class="well col-xs-12" ng-bind-html="singleData.description"></p>
        </div>




    </section>