
<div class="nav-wrapper dark-gradient">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>

        <li toggle-off-canvas><a href="#!/about" ng-click="scrollToTop()" class="text-center"> <div><i class="fa fa-group fa-3x"></i></div><span data-i18n="ABOUT"></span> </a></li>
        <li>
        <li toggle-off-canvas><a href="#!/services" ng-click="scrollToTop()" class="text-center"> <div><i class="fa fa-gavel fa-3x"></i></div><span data-i18n="SERVICES"></span> </a></li>
        <li>
        <li toggle-off-canvas><a href="#!/products" ng-click="scrollToTop()" class="text-center"> <div><i class="fa fa-cubes fa-3x"></i></div><span data-i18n="PRODUCTS"></span> </a></li>
        <li>
        <li toggle-off-canvas><a href="#!/clients" ng-click="scrollToTop()" class="text-center"> <div><i class="fa fa-comments-o fa-3x"></i></div><span data-i18n="CLIENTS"></span> </a></li>
        <li>
        <!--li toggle-off-canvas><a href="#!/articles" ng-click="scrollToTop()"> <i class="fa fa-book"></i><span data-i18n="Articles"></span> </a></li>
        <li>
        <li toggle-off-canvas><a href="#!/media" ng-click="scrollToTop()"> <i class="fa fa-video-camera"></i><span data-i18n="Media"></span> </a></li>
        <li>
        <li>
        <li toggle-off-canvas><a href="#!/admin" ng-click="scrollToTop()"> <i class="fa fa-dashboard"></i><span data-i18n="Admin"></span> </a></li>
        <li -->


    </ul>
</div>
