<div class="col-xs-12 panel" ng-init="views=['home','about','services','clients','articles', 'media', 'products', 'gallery', 'landings'];">
    <article class="admin" ng-style="adminStyle">
        <style> .admin div {background: rgba(0,0,0,.2); border: 1px inset}</style>
        <section ng-style="headerStyle">
            <div class="pull-left">Admin</div>
            <div class="pull-right">
                <input type="text"/>
                <input type="text"/>
                <button>!!</button>
            </div>
        </section>
        <section ng-style="primarySectionStyle">
            <div ng-style="primaryStyle">Clients</div>
            <div ng-style="primaryStyle">Products</div>
            <div ng-style="primaryStyle">Services</div>
        </section>
        <section
            ng-style="secondStyle">
            <div ng-style="notesStyle">Notes / Activity</div>
            <div ng-style="articlesStyle">Articles</div>
            <div ng-style="articlesStyle">Gallery</div>
            <div ng-style="landingStyle">Landings</div>
            <div ng-style="siteStyle">Site</div>

        </section>
    </article>

    <!--

    <div class="">
        <h1 class="">Admin</h1>
        <div class="col-xs-12 padding">
            <span ng-repeat="view in views">
                <a class="btn btn-default" ui-sref="admin.{{view}}">{{view}}</a>
            </span>
        </div>
    </div>
    <article ng-if="!authObj.$getAuth()">
        Please log in to save edits:
        <hr class="col-xs-12"/>
        <h2><input class="col-xs-12" type="email" placeholder="E-mail" ng-model="authority.email"/></h2>
        <hr class="col-xs-12"/>
        <h2><input class="col-xs-12" type="password" placeholder="Password" ng-model="authority.password"/></h2>
        <hr class="col-xs-12"/>
        <button class="col-xs-3 btn btn-default" ng-show="!checkEmail" ng-disabled="!authority.email" ng-click="resetPass(authority.email); checkEmail = ' - Check your inbox to reset password.';">Reset Password {{checkEmail}}</button>{{checkEmail}}
        <button class="btn btn-dark col-xs-9" ng-disabled="!authority.email" ng-click="logIn(authority.email, authority.password)">Log In</button>
    </article>
    <article ng-if="authObj.$getAuth()"><button ng-click="authObj.$unauth()">Log Out</button></article>


-->



    <div ui-view></div>
</div>
