<div class="page" >

    <section class="panel panel-default">
        <div class="panel-heading"><h1><span class="fa fa-newspaper-o"></span> Articles</h1></div>
        <div class="panel-body">
            <div ng-repeat="article in api.show.articles">
                <a ng-href="#!/articles/{{article.articleURL}}">
                    <h2><i class="fa fa-star"></i> {{article.title}}</h2>
                    <div><img alt="{{api.show.media.$getRecord(article.media[0]).mediaDescription}}" ng-src="{{api.show.media.$getRecord(article.media[0]).mediaURL}}" width="100%"></div>
                </a>
                <div class="panel-footer">
                    <p class="col-xs-12" ng-bind-html="article.description"></p>
                </div>
                </div>
        </div>
    </section>

</div>