    <section class="panel panel-default clearfix">
        <h1 class="col-xs-12 panel-heading">
            <span class="fa fa-comments"></span>
            Clients
        </h1>
        <div class="panel-body" ng-repeat="client in api.show.clients">
            <a class="col-xs-12 " ng-href="#!/clients/{{client.clientURL}}">
                <div class="col-xs-12">
                    <h2 class="text-shadow-weak col-xs-12" style="color: #30a79a">
                        <span class="fa-stack">
                            <i class="fa fa-comment fa-flip-horizontal fa-stack-2x"></i>
                            <i class="fa fa-thumbs-o-up fa-inverse fa-stack-1x"></i>
                        </span>
                        <b>{{client.title}}</b>
                    </h2>
                    <p class="well col-xs-12" ng-bind-html="client.description"></p>

                </div>
            </a>
            <div class="col-xs-12 no-padding" ng-init="imgSrc = api.show.media.$getRecord(client.media[0]).mediaURL; imgAlt = api.show.media.$getRecord(client.media[0]).mediaDescription">
                <a ng-href="#!/clients/{{client.clientURL}}">
                    <img
                            animate-change="imgSrc"
                            change-class="flash"
                            alt="{{imgAlt}}"
                            ng-src="{{imgSrc}}"
                            width="100%">
                </a>
                <hr/>
                <div class="col-xs-12 no-padding"
                     style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start">
                    <div ng-repeat="media in client.media"
                         style="flex: 1 0 150px; max-height:150px; width:150px; overflow: hidden; padding:2px">
                        <a href>
                            <img
                                    alt="{{api.show.media.$getRecord(client.media[$index]).mediaDescription}}"
                                    ng-src="{{ api.show.media.$getRecord(client.media[$index]).mediaURL }}"
                                    width="100%"
                                    ng-click="$parent.imgSrc = api.show.media.$getRecord(client.media[$index]).mediaURL; $parent.imgAlt = api.show.media.$getRecord(client.media[$index]).mediaDescription; ">
                        </a>
                    </div>
                    <hr>
                </div>
                <!--<div ng-repeat="media in client.media">
                    <a href><img class="col-xs-4 no-padding border-right" alt="{{ api.show.media.$getRecord(client.media[$index]).mediaDescription }}" ng-src="{{ api.show.media.$getRecord(client.media[$index]).mediaURL }}" ng-click="$parent.imgSrc = api.show.media.$getRecord(client.media[$index]).mediaURL;$parent.imgAlt = api.show.media.$getRecord(client.media[$index]).mediaDescription; "></a>
                </div>-->
                <hr class="col-xs-12">

            </div>


        </div>
    </section>
