<div class="" data-ng-controller="DashboardCtrl">
    <div class="hidden-xs" style="max-height: 400px; overflow: hidden" >
        <div class="text-center hidden-xs" style="position:relative; top:154px; font-size: 46px; color:#fff; height: 0">
            <h1 class="no-margins"><i class="fa fa-legal fa-border"></i>
            <b> {{ test.show.site.$getRecord('foldText').$value }} </b>
            <i class="fa fa-legal fa-flip-horizontal fa-border"></i></h1>
        </div>
        <img ng-src="{{ test.show.site.$getRecord('foldImage').$value }}" width="100%" height="auto">


    </div>
    <div class="visible-xs" style="max-height: 200px; overflow: hidden" >
        <img ng-src="{{ test.show.site.$getRecord('foldImage').$value }}" width="100%" height="auto">
    </div>

    <br/>
    <div class="row red-bg">
        <div class="col-xs-12 padding" >
            <div class="col-xs-12 col-sm-3 text-center padding">
                <i class="fa fa-check fa-5x"></i>
                <p style="font-size: 1.6em;">Our Process</p>
            </div>
            <b style="font-size: 1.6em;" class="col-xs-12 col-sm-8 padding">{{ serviceText }}</b>
        </div>
    </div>
<br/>

    <div class="col-xs-12">
        <div ng-include="'views/services.html'"></div>
    </div>
    <br>


    <div class="clearfix">
        <div class="row orange-bg">
            <div class="col-xs-12 padding">
                <div class="col-xs-12 col-sm-3 text-center padding ">
                    <i class="fa fa-search-plus fa-5x"></i>
                    <p style="font-size: 1.6em;">Product Line</p>
                </div>
                <b style="font-size: 1.6em;" class="col-xs-12 col-sm-8 padding">{{ test.show.site.$getRecord('productsText').$value }}</b>
            </div>
        </div>

    </div>

<br>
    <div class="col-xs-12">
        <div ng-include="'views/products.html'"></div>
    </div>
    <br>
    <div class="clearfix">
        <div class="row blue-bg">
            <div class="col-xs-12 padding" style="display: table">
                <div class="col-xs-12 col-sm-3 text-center padding">
                    <i class="fa fa-bullhorn fa-5x"></i>
                    <p style="font-size: 1.6em;">Past Work</p>
                </div>
                <b style="font-size: 1.6em;" class="col-xs-12 col-sm-8 padding">{{ test.show.site.$getRecord('clientsText').$value }}</b>
            </div>
        </div>

    </div>
    <p class="padding" style="color:white">
        <b class=""></b></p>

    <div class="col-xs-12">
        <div ng-include="'views/clients.html'"></div>
    </div>
    <br>







</div>
  