<div scroll-section-load class="" data-ng-controller="DashboardCtrl" ng-init="sectionExtras=[
     {type:'services', title:'Our Process', color:'red', icon:'check'},
     {type:'products', title:'Product Line', color:'orange', icon:'search-plus'},
     {type:'clients', title:'Past Work', color:'blue', icon:'bullhorn'}]">
    <!-- Please call pinit.js only once per page -->

<div ng-repeat="section in $parent.loadedSections track by $index">

    <div ng-include="section+'.html'"></div>

    <div ng-if="sectionExtras[$index].type" class="row {{sectionExtras[$index].color}}-bg ">
        <div class="col-xs-12 padding dark-gradient" >
            <div class="col-xs-12 col-sm-3 text-center padding text-shadow-weak">
                <i class="fa fa-{{sectionExtras[$index].icon}} fa-5x"></i>
                <p style="font-size: 1.6em;">{{sectionExtras[$index].title}}</p>
            </div>
            <b style="font-size: 1.6em;" class="col-xs-12 col-sm-8 padding text-shadow-strong">{{ api.show.site.$getRecord(sectionExtras[$index].type+'Text').$value }}</b>
        </div>
    </div>
</div>




</div>
