    <section class="panel clearfix">
        <h1 class="col-xs-12 panel-heading">
            <span class="fa fa-rocket"></span>
            Products
        </h1>
        <div class="panel-body" ng-repeat="product in api.show.products">
            <div class="well  col-xs-12 col-md-5">
                <a ng-href="#/products/{{product.productURL}}"><h2>{{product.title}}</h2></a>
                <em>From ${{ product.price }}</em>
                <p class="panel padding" ng-bind-html="product.description"></p>
                <!--h3 ng-show="product.variations[0]!=='No Variations'">Variations</h3>
                <div ng-repeat="variation in product.variations" ng-show="product.variations[0]!=='No Variations'">
                    <div>Variation: {{variation.name}}</div>
                    <div>Info: {{variation.description}}</div>
                </div>
                <h3 ng-show="product.articles[1]">Articles</h3>
                <div ng-repeat="article in product.articles" ng-show="product.articles[0]!=='No Variations'">
                    <a ng-href="#/articles/{{ api.show.articles.$getRecord(article).articleURL }}">{{ api.show.articles.$getRecord(article).title }}</a>
                </div-->
            </div>

            <div class="col-xs-12 col-md-7" ng-init="imgSrc = api.show.media.$getRecord(product.media[0]).mediaURL">
                <a class="col-xs-10" ng-href="#/products/{{product.productURL}}">
                    <img ng-src="{{imgSrc}}" width="100%">
                </a>
                <div class="col-xs-2">
                    <div ng-repeat="media in product.media">
                        <a href><img ng-src="{{ api.show.media.$getRecord(product.media[$index]).mediaURL }}" ng-click="$parent.imgSrc=api.show.media.$getRecord(product.media[$index]).mediaURL" width="100%"></a><hr>
                    </div>
                </div>

            </div>

            <div class="well  col-xs-12">
                <a ng-href="#/products/{{product.productURL}}">
                    <button class="col-xs-12 btn btn-behance more" >More about {{ product.title }}</button>
                </a>
            </div>



        </div>
    </section>

    <br/>